# Basics: Arithmetic, Assignment, and Strings

Topics:
1. Infix arithmetic operators
2. Numeric literals
3. Comparisons
4. Assignments
5. Strings

## Arithmetic should largely be familiar

In [1]:
3 + 7 # addition

10

In [2]:
10 - 3 # subtraction

7

In [3]:
20 * 5 # multiplication

100

In [4]:
100 / 10 # division

10.0

In [5]:
10 ^ 2 # exponentiation

100

In [6]:
101 % 2 # remainder (modulus)

1

In [7]:
sqrt(2) # square root

1.4142135623730951

In [8]:
√2 # Unicode to the rescue: \sqrt + TAB

1.4142135623730951

Note that dividing two integers yields a floating point number. There are two additional operators that may be helpful here:

In [9]:
10 / 6

1.6666666666666667

In [10]:
10 ÷ 6 # \div TAB or the `div` function

1

In [11]:
div(10, 6)

1

In [12]:
10 // 6

5//3

### Numbers: Many different ways to write the number forty-two

In [13]:
fortytwos = (42, 42.0, 4.20e1, 4.20f1, 84//2, 0x2a)

(42, 42.0, 42.0, 42.0f0, 42//1, 0x2a)

In [14]:
for x in fortytwos
    show(x)
    println("\tisa $(typeof(x))")
end

42	isa Int64
42.0	isa Float64
42.0	isa Float64
42.0f0	isa Float32
42//1	isa Rational{Int64}
0x2a	isa UInt8

### Bitwise arithmetic

In [15]:
0x2a & 0x70 # AND

0x20

In [16]:
0x2a | 0x70 # OR

0x7a

In [17]:
42 & 112

32

In [18]:
0b0010 << 2 # == 0b1000

0x08

### Logical operators

In [19]:
false && true # AND

false

In [20]:
false || true # OR

true

Note that they "short-circuit!"

In [21]:
x = -42
x > 0 || error("x must be positive")

ErrorException: x must be positive

### Comparisons

In [22]:
1 == 1.0 # Equality

true

In [23]:
1 === 1.0 # Programmatically identical

false

In [24]:
3 < π

true

In [25]:
1 <= 1

true

In [26]:
.1 + .2

0.30000000000000004

In [27]:
.1 + .2 ≈ .3 # \approx + TAB

true

Comparisons "chain"

Try inserting parentheses around one of these comparisons

In [30]:
2 == 2.0 == 0x02

false

In [31]:
2 == (2.0 == 0x02)

false

In [32]:
2.0 == 0x02

true

In [33]:
x = 42
0 < x < 100 || error("x must be between 0 and 100")

true

# Assignment

Assignment in Julia is done with the single `=`. All it does is associates a name (on the left) to a value (on the right).

In [34]:
x = 1 # Use the name `x` for the value `1`

1

In [35]:
y = x # Use the name `y` for the value that `x` refers to

1

In [36]:
x = "hello!" # Decide you have a better use for the name `x`

"hello!"

In [37]:
y # Is still the value 1

1

In [38]:
ϵ = eps(1.0) # You can make your own unicode names

2.220446049250313e-16

In [39]:
5ϵ # Juxtaposition is multiplication

1.1102230246251565e-15

## Updating operators

All the infix arithmetic operators above can be used as "updating" operators in conjunction with an assignment:

In [40]:
y += 1

2

In [41]:
# This is exactly the same as:
y = y + 1

3

Note that it's just re-purposing the _same name_ for a new value. This means that the type might even change:

In [42]:
y /= 2

1.5

# Strings

In [43]:
s1 = "I am a string."

"I am a string."

In [44]:
s2 = """I am also a string. """

"I am also a string. "

In [45]:
"Here, we get an "error" because it's ambiguous where this string ends "

LoadError: syntax: cannot juxtapose string literal

In [46]:
"""Look, Mom, no "errors"!!! """

"Look, Mom, no \"errors\"!!! "

In [47]:
println("""The other nice thing about triple-quoted
            string literals is that they ignore leading
            indentation, which is nice for long strings
            in real code. Try changing these quotes!""")

The other nice thing about triple-quoted
string literals is that they ignore leading
indentation, which is nice for long strings
in real code. Try changing these quotes!

In [48]:
println("The other nice thing about triple-quoted
            string literals is that they ignore leading
            indentation, which is nice for long strings
            in real code. Try changing these quotes!")

The other nice thing about triple-quoted
            string literals is that they ignore leading
            indentation, which is nice for long strings
            in real code. Try changing these quotes!

Strings are not written with single `'`s — that's used for a single character:

In [49]:
first(s1)

'I': ASCII/Unicode U+0049 (category Lu: Letter, uppercase)

In [50]:
'⊂'

'⊂': Unicode U+2282 (category Sm: Symbol, math)

In [51]:
'If you try writing a string in single-quotes, you will get an error'

LoadError: syntax: invalid character literal

## String interpolation

You can use the dollar sign inside a string to evaluate a Julia expression inside a string — either a single variable or a more complicated expression:

In [52]:
name = "Jane"
num_fingers = 10
num_toes = 10
println("Hello, my name is $name.")
println("I have $num_fingers fingers and $num_toes toes.")

Hello, my name is Jane.
I have 10 fingers and 10 toes.

In [53]:
 println("That is $(num_fingers + num_toes) digits in all!!")

That is 20 digits in all!!

In [54]:
@assert days == 365
@assert days_float == 365.0

UndefVarError: UndefVarError: days not defined

In [55]:
days = 365

365

In [56]:
@assert days == 365

In [57]:
@assert days_float == 365.0

UndefVarError: UndefVarError: days_float not defined